@using System.Collections.Specialized
@using Microsoft.Ajax.Utilities
@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Dinner: " + Model.Title;
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    
    <p>
        <strong>When:</strong>
        @Html.DisplayFor(model => model.EventDate)
    </p>
    
    <p>
        <strong>Where:</strong>
        @Html.DisplayFor(model => model.Address)
        @Html.DisplayFor(model => model.Country)
    </p>
    
    <p>
        <strong>Decription:</strong>
        @Html.DisplayFor(model => model.Description)
    </p> 
    
    <p>
        <strong>Organizer:</strong>
        @Html.DisplayFor(model => model.HostedBy)
        (@Html.DisplayFor(model => model.ContactPhone))
    </p>
</div>

@{
    Html.RenderPartial("RSVPStatus"); 
    Html.RenderPartial("EditAndDeleteLinks");
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            var rsvpUrl = "@Url.Action("Register", "RSVP", new { id = Model.DinnerID })";

            $('#action').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: rsvpUrl,
                    type: 'POST',
                    success: function(html) {
                        $('#rsvpmsg').html(html);
                        AnimateRSVPMessage();
                    },
                });
            });
        });

        function AnimateRSVPMessage() {
            $("#rsvpmsg").animate({ fontSize: "1.5em" }, 400);
        }
    </script>
    

}